[2010-01-25 17:42] rdp opened #1 "recursive requires?"
When run in 1.9.2, I see this:

E:/installs/ruby_trunk_installed/lib/ruby/gems/1.9.1/gems/hitimes-1.0.4-x86-mingw32/lib/hitimes/timed_metric.rb:6: warning: loading in progress, circular require considered harmful -
E:/installs/ruby_trunk_installed/lib/ruby/gems/1.9.1/gems/hitimes-1.0.4-x86-mingw32/lib/hitimes.rb

repeated a few times...
thoughts?
-r

[2010-07-16 14:31] rdp opened #2 "jruby compat"
might be nice to have a jruby version (I know I would use it).
There's already System.nano_time or something if useful...
-r

[2010-07-26 00:40] #1 closed, assigned to copiousfreetime

[2010-07-29 09:48] #2 closed, assigned to copiousfreetime

[2011-03-27 03:52] copiousfreetime opened #3 "Make sure that hitimes can be built from the github repo"

[2011-04-23 19:41] copiousfreetime opened #4 "could we get Hitimes.measure too?"
From Roger Pack via http://www.copiousfreetime.org/articles/2008/09/14/hitimes-0_2_0.html#comment-188921959

[2012-02-16 19:49] copiousfreetime opened #5 "Update dependencies and make sure running with -w is clean"

[2012-10-03 00:37] eric opened #7 "Problems compiling hitimes on OS X 10.8 - AbsoluteToNanoseconds deprecated"
Here's the output from installing the gem:

https://gist.github.com/3824222

[2012-10-17 23:13] copiousfreetime opened #8 "Fix ambiguity of what Interval#duration should return if the Interval has not started."

[2012-10-17 23:13] #5 closed, assigned to copiousfreetime

[2012-10-17 23:13] #8 closed, assigned to copiousfreetime

[2013-01-09 20:45] #7 closed, assigned to nobody

[2013-01-09 20:49] copiousfreetime opened #9 "convert to minispec"

[2013-01-09 20:50] copiousfreetime opened #10 "update to latest fixme"

[2013-01-10 16:49] #4 closed, assigned to copiousfreetime

[2013-02-07 10:25] copiousfreetime opened #11 "Make sure Cross compiler tasks work seamlessly whether or not they are installed or not"

[2013-02-07 10:26] copiousfreetime opened #12 "When in jruby, the tasks should convert to the java extension"

[2013-02-07 10:26] #10 closed, assigned to copiousfreetime

[2013-02-08 08:04] #12 closed, assigned to copiousfreetime

[2013-02-09 05:17] copiousfreetime opened #13 "Create a pure ruby Instant implementation"

[2013-02-09 05:17] copiousfreetime opened #14 "Create a pure ruby Stats implementation"

[2013-02-09 05:18] copiousfreetime opened #15 "An implementation of Time.now that only reports a time change if it is great than 1 sec since the last time it was called?"

[2013-02-09 05:45] #11 closed, assigned to copiousfreetime

[2013-02-09 05:45] #3 closed, assigned to copiousfreetime

[2013-02-11 01:05] copiousfreetime opened #16 "Add Maglev Support"
Implement the binary portion that is necessary to support maglev.

`System class>>nsTime` appears to be what is necessary.

I'll leave it to @jc00ke to start on for the moment. I won't be able to get to this until mid-late march at the earliest.

[2013-02-24 20:00] r38y opened #17 "Ruby 2.0.0 and Native Extensions"
I'm working on trying my Rails app with Ruby 2.0.0 and some of my gems use hitimes (1.1 and 1.2 have the same issue). I am getting the following error:

[code]

Which I think is because it can't find the version-specific extensions. I noticed that a file (?) gets created instead of a folder for 2.0:

![hitimes-ruby2 0](https://f.cloud.github.com/assets/926/189938/01eb2a60-7ebc-11e2-9b04-764c8f742f

[2013-03-12 16:19] #17 closed, assigned to copiousfreetime

[2013-09-03 15:14] yfeldblum opened #18 "Tag v1.2.1."
`v1.2.1` is [on rubygems.org](https://rubygems.org/gems/hitimes/versions) but is not [tagged in github](https://github.com/copiousfreetime/hitimes/releases).

[2013-09-03 15:19] #18 closed, assigned to copiousfreetime

[2013-10-20 04:22] copiousfreetime opened #19 "Expose `hitimes_get_current_instant` as an API call"
Some developers would like to have access to a low level timer, this will allow for cross platform usage of a monotonically increasing timer.

[2013-11-13 05:50] #13 closed, assigned to copiousfreetime

[2013-11-13 06:02] #15 closed, assigned to copiousfreetime

[2014-01-01 23:26] virtualfunction opened #20 "Fails to compile / install on Ruby 2.1.x"
[code]

I'm guessing clock_gettime has changed in the Ruby 2.1.x src?

[2014-03-19 11:42] BrunoMiguelMonteiro opened #21 "Problem with makefile on OSX 10.9.1"
Hi,

I'm having some problems updating to hitime-1.2.1 with the following error message:

[code]

I'm on OS X Mavericks 10.9.1 with the the following ruby version:

[code]

and rubygems:

[code]

If you have any insight I would really appreciate.
Cheers,
B.

[2014-03-27 20:18] #21 closed, assigned to nobody

[2014-05-09 15:56] copiousfreetime opened #22 "Update to use ruby 2.1's access to the clock monotonic"

[2014-05-22 14:14] eradman opened #23 "Build fails with Ruby 2.1 on OpenBSD 5.5/i386"
On the latest OpenBSD release the install of hitimes fails:

[code]

The system compiler is

[code]

[2014-05-29 16:58] romaintb opened #24 "building on openbsd"
Hi.

I tried to install jekyll on OpenBSD 5.5, and it failed because of hitimes.
Hitimes tries to seek for clock_gettime in librt, which openbsd does not have.

I took a look in ext/hitimes/c/extconf.rb but don't know what would be the best way to tell it openbsd does have this function, and thus not check for it.
Sure I can cook a diff, but it would look like a dirty hack.

What do you think ?

[2014-05-29 17:00] #24 closed, assigned to nobody

[2014-07-09 21:05] #9 closed, assigned to copiousfreetime

[2014-07-09 21:42] #23 closed, assigned to nobody

[2014-07-09 21:42] #20 closed, assigned to nobody

[2014-09-11 09:04] ghost opened #26 "Installing fails (clock_gettime problem on Linux)"
Hi there. I'm trying to install `hitimes` on Debian Testing by

[code]

which gives me

[code]

I've read the other two related issues, but i'm not running BSD and already trying to install 1.2.2.
My environment:

[code]

I'm not sure if the requested development tools are related to the `clock_gettime` problem. By the way, exactly what development tools are requested here?
Thanks!

[2014-09-11 19:24] #26 closed, assigned to nobody

[2014-10-11 20:33] andreas-venturini opened #27 "An error occurred while installing hitimes (1.2.2), and Bundler cannot continue."
Using Ubuntu 14.04, my output when running `gem install hitimes -v '1.2.2'`

[code]

[2014-10-22 19:29] #27 closed, assigned to nobody

[2014-10-23 10:14] jstaffans opened #28 "Can't install hitimes-1.2.2 on OS X 10.10"
[code]

[2014-11-07 09:07] #28 closed, assigned to nobody

[2014-11-15 06:25] holycow001 opened #29 "Can't bundle install hitimes with ruby ruby 2.1.2p95"
here's the error i'm getting:
Installing hitimes (1.2.2) with native extensions
Gem::Installer::ExtensionBuildError: ERROR: Failed to build gem native extension.

        /opt/chef/embedded/bin/ruby extconf.rb
creating Makefile

make
compiling hitimes.c
clang: warning: argument unused during compilation: '-L/opt/chef/embedded/lib'
compiling hitimes_instant_clock_gettime.c
clang: warning: argument

[2014-11-29 16:36] copiousfreetime opened #30 "Publish windows vesion of hightimes again"
From Issue #27

[2014-12-10 17:45] alladi opened #31 "installing hitimes 1.2.2 fails in ruby-2.0.0-p598 [ x86_64 ]"
Hi,

I am trying to install hittimes on osx 10.6.8 with ruby-2.0.0-p598 [ x86_64 ] and the gem install hitimes fails with the following error

Building native extensions.  This could take a while...
ERROR:  Error installing hitimes:
	ERROR: Failed to build gem native extension.

    /usr/local/rvm/rubies/ruby-2.0.0-p598/bin/ruby -r ./siteconf20141210-67072-de33kt.rb extconf.rb
creating Makefile

m

[2014-12-21 17:35] KartikKannapur opened #32 "Load Error - Cannot load such file -- hitimes 1.2.2"
I have a blog that runs on jekyll. I use Mac OS X v 10.9.5. When I run $ bundle exec jekyll serve, I received the following error .

[code]

I followed issue [#17](https://github.com/copiousfreetime/hitimes/issues/17) and I have attached some of the outputs that may be helpful

$ gem env

[code]

$ gem list

[code]

$ which jekyll

[code]

Do let me know if I need to post any other output that cou

[2014-12-25 06:02] #32 closed, assigned to nobody

[2015-01-05 17:52] copiousfreetime commented on #31
@alladi I did a bit of investigation, CoreServices is available in SnowLeopard (OS X 10.6.8) so I'm not sure why this is failing. It may be an issue with RVM and its setting of the load path, could you paste the content of  `./siteconf20141210-67072-de33kt.rb`. Or maybe update rvm, do a fresh install of ruby-2.0.0-p598 and see if that works?

[2015-01-05 18:08] alladi commented on #31
Hi It was a version incompatibility. I have moved past that obstacle but don't remember exactly what I did but it was for sure to do with the gem versions dependency and due to which i had tried to install that particular gem but later I guess with changing the newer version of gems in my application that dependency was solved.

Cheers for the effort and thank you once again

[2015-01-05 19:58] copiousfreetime commented on #31
Thanks @alladi I'll close this now.

[2015-01-05 19:58] #31 closed

[2015-01-06 19:20] AfonsoTsukamoto opened #33 "`require': cannot load such file -- hitimes/hitimes"
Hi!
While trying to use celluloid with ruby 2.1.5, I got the aforementioned error.
Then I removed all my requires from the configuration file and left hitimes alone. I got the same error.
The stack:

[code]

I'm using sidekiq, which uses celluloid, therefore, is using hitimes too, and that project runs smoothly.
The only difference is the ruby version: 1.9.3.

Our file is simply a executable ruby

[2015-01-06 19:22] #33 closed

[2015-01-06 19:22] AfonsoTsukamoto commented on #33
Nevermind, we had a stupid bug ( #!/usr/bin/ruby ) using system ruby.

[2015-01-06 19:23] copiousfreetime commented on #33
No problem, glad to be a rubber-duck/cardboard programmer :smile_cat:

[2015-01-06 19:34] AfonsoTsukamoto commented on #33
Ahahah!
Next time you need some kind of 'bug relief' feel free to open an issue in any of my repositories! :smile:

[2015-01-06 21:58] copiousfreetime commented on #30
Well, its taken me about solid days of work to get the cross compilation environment up to get the versions out.

I have pushed a cross-compiled ruby gem for [hitimes v1.2.2](https://rubygems.org/gems/hitimes/versions/1.2.2-x86-mswin32-60). It *should* work with windows ruby 1.9.3, 2.0.0 and 2.1.5. As I don't  have a windows machine to test this one, I haven't been able to say that it works. If yo

[2015-01-07 12:22] eregon commented on #30
Thanks!

Installation on a Ruby 2.1.5 (32-bit) by Ruby installer tells it needs the build tools. Maybe because the reported RUBY_PLATFORM is mingw32? Or the OS is 64-bit?
I will try later with the DevKit to see if that works.

[2015-01-07 16:42] Thijsrausch commented on #30
It worked for me with the Devkit, thanks!

[2015-01-11 16:49] eregon commented on #30
Here is my (old) Windows configuration:
[code]
We can see the platform string seems indeed to be the problem.
We can force the platform with `--platform=x86-mswin32-60`:
[code]
hitimes.so should probably not be in the gem but it does not matter so much.

It looks like it works with `Hitimes::Interval.measure` and the tests:
`130 tests, 211 assertions, 0 failures, 0 errors, 0 skips`

So everything

[2015-01-11 18:24] copiousfreetime commented on #30
alright, looks like I'll need to package it multiple times. And yes, hitimes.so should be in there, that is what you are loading. That's the binary portion. I think I need to update the documentation regex so that it doesn't attempt to parse the .so files :-).

[2015-01-11 22:12] eregon commented on #30
OK, I thought it would be a `.dll` but that looks to be a non-issue.

[2015-01-12 03:28] copiousfreetime commented on #30
@krawatcoder @Thijsrausch @eregon [hitimes-1.2.2-x86-mingw32.gem](https://rubygems.org/gems/hitimes/versions/1.2.2-x86-mingw32) pushed to rubygems. If you are using the http://rubyinstaller.org/ then it should install just fine.

I'm going to close this now, since I think that should satisfy everyone. If that is not the case, please comment here.

[2015-01-12 03:28] #30 closed

[2015-01-12 03:29] copiousfreetime commented on #29
@holycow001 Since I haven't heard any response back from you, I'm going to assume that you have found a solution. If you would like to post them here I would appreciate it. In the meantime I'm closing this ticket.

[2015-01-12 03:29] #29 closed

[2015-01-12 03:31] copiousfreetime commented on #22
This may also require a conditional in the extconf to see if the clock monotonic access in ruby is available, if so then it should not have to run the extension

[2015-01-12 03:41] imarco commented on #30
I was trying to install octopress on windows8.1 which needs the hitimes just a few hours ago, and I was stucked. While I'm searching for the solution by google I was directed here and see the owner is working on it. I told mysel: "Oh what a sad message~".
But just a few minutes passed, the problem was fixed by the owner unexpectedly. It's just fantastic! Thanks for your great work!

[2015-01-12 03:46] copiousfreetime commented on #30
@imarco glad to help :smile: Please let me know if/when you have problems or bugs with hitimes

[2015-01-17 03:58] crispen-smith commented on #27
What's the current state of hitimes support for Yosemite?  I'm trying to build guard to update my web-development life-cycle to support live-reload and I'm getting this error message.

I"m not a ruby guy so this is all very new to me.

[2015-01-17 04:26] copiousfreetime commented on #27
@crispen-smith hitimes should work on yosemite, at least I have heard reports from folks and it works just fine. If you can paste the errors you are seeing into a new ticket we'll go from there.

[2015-01-17 16:25] crispen-smith commented on #27
And, this morning it seems to work just fine.
Only thing that I changed was installing while in root rather than my project directory.

[2015-01-17 17:40] copiousfreetime commented on #27
that's odd, I'm not sure what to say.

[2015-01-17 19:05] crispen-smith commented on #27
Understandable.  I think for the moment, if it's working I'm not going to delve into it further.

[2015-01-27 18:28] brunzino commented on #27
Installing fails for me in Yosemite. I updated bundler and did try installing from ~/ and / directories per @crispen-smith but no love. Error messages below
[code]

[2015-01-27 18:30] brunzino commented on #27
Oops, just reread messages. Pasting into a new ticket now...

[2015-01-27 18:35] brunzino opened #35 "Error installing hitimes on OS X Yosemite"
I'm trying to install onto Yosemite using Bundler to no avail. I tried updating Bundler and installing gem individually from different directories. Error messages below.

[code]

[2015-01-28 17:28] copiousfreetime commented on #35
@brunzino Can you post the contents of `/Users/nbruns/.rvm/gems/ruby-2.0.0-p247/gems/hitimes-1.2.2/ext/hitimes/c/gem_make.out` somewhere?

[2015-01-28 17:59] brunzino commented on #35
Odd: the gem_make.out file wasn't at the location described above. Since posting, however, I've updated RVM and rubygems, which could be the cause. Running the `gem install hitimes` again gives similar error message. The contents of the `gem_make.out` file are:
[code]

and for what it's worth, the output from running `gem install hitimes` on updated RVM, rubygems, bundler etc are:
[code]

Thanks,

[2015-01-31 23:34] stuarthannig commented on #17
Could serve Jekyll because of hitimes error, `gem install --verbose hitimes` did indeed fix problem.

[2015-02-03 00:47] copiousfreetime commented on #35
so far it seems that all the problems people are having on yosemite are with ruby-2.0.0. only, and only with those folks that are using rvm/sm. So, I think there must be a sm/rvm environment leakage or something like that.

[2015-02-03 06:46] brunzino commented on #35
Thanks I'll play with those variables, will update.

[2015-02-03 18:04] brewster1134 commented on #17
updating from ruby 2.0.0-p0 fixed it for me.  seems any patch version other that p0 worked fine.

[2015-02-04 19:39] stuarthannig commented on #17
Hm, my environment is running ruby 2.0.0p481 (2014-05-08 revision 45883) [universal.x86_64-darwin13] so I'm not sure why that wasn't the case for me.

[2015-02-05 13:26] lfender6445 commented on #35
@brunzino - you figure this out yet, I am hitting same issue

[2015-02-05 13:43] lfender6445 opened #36 "Mac 10.0.1 osx ruby 2.1.3p242 failed install"
__Mac 10.0.1 osx ruby 2.1.3p242 failed install on yosemite__

[code]

[code]

[2015-02-05 18:52] lfender6445 commented on #36
mother of god. so silly. my bin for gcc-4.2 somehow went missing after an update, heres the fix

`sudo ln -s /usr/bin/gcc /usr/bin/gcc-4.2`

http://stackoverflow.com/questions/12256616/os-x-mountain-lion-gcc-4-2-no-such-file-or-directory

[2015-02-05 18:52] #36 closed

[2015-02-06 07:01] paulomcnally commented on #35
Open Xcode and accept.

[2015-02-12 20:45] amyrlam opened #37 "Trouble installing hitimes when space in path"
I have an error similar to https://github.com/copiousfreetime/hitimes/issues/35, but I think the error is because my path has a space in it.

My path to my virtual environment:
```/Volumes/alam's home/fastly/fastly-jekyll/_vendor/bundle/ruby/2.0.0/gems/hitimes-1.2.2```

[code]

How we fixed it:

`bundle install --path /tmp/delete`

`mv /tmp/delete/* _vendor/bundle/`

`bundle install --path _vendor

[2015-02-12 20:47] thommahoney commented on #37
This can be reproduced using the command `gem install hitimes --path '/some path/name'

[2015-02-13 02:13] copiousfreetime commented on #37
Thanks for the info, I'll see if I can figure out why this is happening when installing hitimes, I would assume this issue would be happening with other gems, especially other gems with extensions.

[2015-02-13 02:19] thommahoney commented on #37
Unfortunately I don't know enough about how c extensions are configured and compiled to be of any help. I found a bug that was fixed two years ago in Ruby core that apparently solved this problem but the issue persists (obviously)

[2015-02-16 17:16] copiousfreetime commented on #37
This looks like it was an issue with rubygems before version 2.4.2. All gems with extensions would fail if there was a space in the path. It was fixed in  rubygems/rubygems#949.

[code]

So looks like you should `gem update --system` and you'll be good to go. @thommahoney @amyrlam let me know if that works for you and I'll close this ticket.

[2015-02-16 17:20] copiousfreetime commented on #35
@brunzino can you check and make sure that `/Users/mpapis/.sm/pkg/active/lib` is a directory that exists? Since that's the first error, that could be what is triggering it. Also try @paulomcnally's suggestion of opening xcode up and seeing if it needs to do some configuration on open.

[2015-02-17 17:55] brunzino commented on #35
Upgrading ruby to 2.1[.5] worked.
[code]
Now it's just a matter of getting other gems to install on ruby 2.1 :/

`/Users/mpapis/.sm/pkg/active/lib` does not exist on my machine; that looks like a reference to a local directory on Michal Papis' machine (creator of RVM), which is interesting.

[2015-02-17 19:24] copiousfreetime commented on #35
Alright, I'm going to close this. For posterity, I think I'm going to say that for Yosemite support it is possible you need to be on Ruby 2.1 or greater.

[2015-02-17 19:24] #35 closed

[2015-02-18 01:39] amyrlam commented on #37
It's working for me now, sorry that we did not catch it was just a gem update issue! Appreciate it.

[2015-02-18 01:39] #37 closed

[2015-02-18 01:49] thommahoney commented on #37
We should have talked to @drbrain! Thanks @copiousfreetime and sorry for wasting your time.

[2015-02-18 02:21] copiousfreetime commented on #37
Glad to help, please let me know when you find the next :beetle:

[2015-02-20 16:58] maddox opened #38 "Can't Seem to Install on Raspberry Pi"
I can't seem to install on the raspbery pi (Raspbian distro). I have `build-essential` and `ruby1.9.1-dev` installed, but it still can't seem to find `clock_gettime()`.

I'm not sure if there's anything else I should be installing first to get it to build. Searches around the Internets proved futile.

Any insight into why this might be failing?

[code]

[code]

[2015-02-20 17:26] copiousfreetime commented on #38
Hitimes on a raspberry pi, that would be great! I have no clue at the moment, I'll see what I can dig up this weekend and let you know. My first thoughts will be in the direction of seeing if `clock_gettime()` is actually available as a system call on the raspberry pi.

[2015-02-20 17:27] maddox commented on #38
Here's some info:

http://www.raspberry-projects.com/pi/programming-in-c/timing/clock_gettime-for-acurate-timing

[2015-03-10 22:57] pcatkins commented on #32
I am having a very similar issue, I am trying to create a blog that runs on jekyll.

When I try to run,
$bundle exec jekyll serve
I get the following error:

[code]

$gem list

[code]

$gem env

[code]

I installed jekyll using bundler.

And when I run,
[code]
I get the following:

[code]

Any suggestions @copiousfreetime?

[2015-03-12 15:23] copiousfreetime commented on #32
@pcatkins which linux distribution are you using? And can you drop the Gemfile you used to install jekyll in here?

[2015-03-12 18:43] pcatkins commented on #32
Thanks for the reply @copiousfreetime I am using Ubuntu 14.10 and my Gemfile has the following:
[code]
I have since resolved this issue by switching to ruby version 1.9.3-p194. Now everything is working fine with jekyll.

[2015-03-26 19:12] andyatkinson commented on #35
After upgrading to Yosemite, I ran into this, but was able to fix it by updating Xcode (with restart).

[2015-03-27 18:17] munishis commented on #27
I am getting exact same error, How were you able to take care of it ?

[2015-04-07 17:28] ccoenen opened #39 "Loading fails on Windows with Ruby 2.2"
hitimes-1.2.2-x86-mingw32 fails to load on my machine with ruby 2.2. I have to explicitly install hitimes this way:

[code]

If i don't (that is, if i just let bundler do the installing for me) the resulting error looks like this:

[code]

Hitimes is loadded through celluloid's dependency to the timers gem, I'm not specifying the gem myself.

Is there any way i can help debug it?

(credit for the

[2015-04-07 19:20] copiousfreetime opened #40 "Release a new fatbinary version of hitimes with support for ruby 2.2. on windows"
See issue #39 and http://stackoverflow.com/questions/28985481/hitimes-require-error-when-running-jekyll-serve-on-windows-8-1

[2015-04-07 19:21] copiousfreetime commented on #39
No need to debug, this is because I haven't released a fat-binary gem with support for ruby 2.2 yet on windows. It looks like Ruby 2.2.1 is the first release of Ruby 2.2 for windows and was just released on march 6. hitimes 1.2.2 was released in January.

I've opened issue #40 to track releaseing a new fat binary version of hitimes for ruby 2.2. support on windows.

[2015-04-07 19:21] #39 closed

[2015-04-07 20:42] ccoenen commented on #40
I didn't know the concept of fatbinary until now. Just found a blogpost from tenderlove on the topic, very interesting, thanks! And also thanks for taking care of this issue!

[2015-05-02 03:47] andrelugomes commented on #17
I have this problem with Ruby 2.2.0 trying to run Jekyll serve:

$ jekyll serve
c:/Ruby22/lib/ruby/gems/2.2.0/gems/liquid-2.6.1/lib/liquid/htmltags.rb:43: warning: duplicated key at line 46 ignored: "index0"
Configuration file: c:/Users/ricardo/workspace/jhipster.github.io/_config.yml
            Source: c:/Users/ricardo/workspace/jhipster.github.io
       Destination: c:/Users/ricardo/workspace/j

[2015-05-02 03:55] andrelugomes commented on #17
I found a solution... http://stackoverflow.com/questions/28985481/hitimes-require-error-when-running-jekyll-serve-on-windows-8-1

gem uni hitimes

**Remove ALL versions**

gem ins hitimes -v 1.2.1 --platform ruby

That will recompile hitimes that is compatible with Ruby 2.2.

[2015-05-03 00:02] LukeMcGurdy commented on #17
I documented the same issue/ fix here for Win7 - http://lukemcgurdy.github.io/jekyll-hitimes-windows-7/

Same process as andrelugomes outlines.

[2015-05-03 00:17] copiousfreetime commented on #17
@LukeMcGurdy I will get a new fatbinary version of hitimes out next week. See #40

[2015-05-03 00:20] copiousfreetime commented on #40
Note to self -- contact https://lukemcgurdy.github.io/jekyll-hitimes-windows-7/ when new version is released.

[2015-05-03 00:22] copiousfreetime commented on #40
@andrelugomes @LukeMcGurdy This issue is where I'm tracking the resolution of ruby 2.2 extension

[2015-05-03 00:23] LukeMcGurdy commented on #40
Cheers :)

[2015-05-05 21:49] andrelugomes commented on #40
@copiousfreetime tks

[2015-05-05 21:50] andrelugomes commented on #17
@copiousfreetime thanks

[2015-05-07 21:35] kddeisz opened #41 "`require': cannot load such file -- hitimes/hitimes (LoadError)"
bundle/gems/hitimes-1.2.2/lib/hitimes.rb:37:in `rescue in <top (required)>'

Keep getting this error when trying to run integration tests on Rails. Source seems to be under the impression that there's a hitimes/hitimes file but I can't find it anywhere.

[2015-05-07 21:59] #41 closed

[2015-05-07 21:59] kddeisz commented on #41
Weird... I had to reinstall all my gems, but that fixed it.

[2015-05-07 22:10] copiousfreetime commented on #41
to me it sounds like the installation of hitimes never happend. Hitimes uses a C extension and that will end up in the lib/hitimes/hitimes.so of the installed gem. If it isn't there then something happened during the install. I'm not sure what would have caused it, bundler would have noted if the install had failed. All I can think of is if something happened to accidentally delete the binary exte

[2015-05-07 22:18] copiousfreetime opened #42 "Add a more friendly error if the binary extension is not able to be loaded."
Based upon the comments in #41 have a friendlier error if the gem appears to be installed but the extension binary blob is not there..

[2015-05-17 05:48] AntiMoron commented on #40
Is ```1.2.2``` the latest version?
seems not working on me while running ```jekyll``` with ```hitimes 1.2.2```.

OS:win7
ruby version : 2.2.2p95
Here's what I got when I do ```jekyll serve```:
[code]

[2015-05-17 08:37] copiousfreetime commented on #40
@AntiMoron For Ruby 2.2 on windows, you will unfortunately need to need wait until I release a new fat binary.

[2015-05-17 12:06] AntiMoron commented on #40
@copiousfreetime   Thank you boss.XD

[2015-05-18 14:25] ccoenen commented on #40
not to be rude, but do you have an estimate when you will be releasing an updated gem?

[2015-05-20 05:18] briprowe opened #43 "Cannot Install v1.2.2"
Notice that my home directory is `/Users/browe` and that it's trying to link files in `-L/Users/mpapis/.sm/pkg/active/lib'`.

[code]

The offending lines seem to be in the Makefile:

[code]

I'm running Mac OS X Yosemite.

If you need further information, let me know.

[2015-05-20 05:24] briprowe commented on #43
If this was working in the past, my guess is the problem lies in a transitive dependency.

[2015-05-20 05:36] briprowe commented on #43
For good measure, here's my bundler version:

[code]

And my Ruby version:

[code]

[2015-05-20 05:52] briprowe commented on #43
Here's an interesting find:

[code]

I'm using rvm version 1.26.11

I don't know anything about ruby, so I don't know how to fix this. I recognize it's not a bug in hitimes, so feel free to close this.

[2015-05-20 16:25] copiousfreetime commented on #43
Yes, this is not a bug in hitimes, this is a result of rvm and/or rvm installing ruby. I would suggest that an upgrade of rvm might fix this, or a reinstall of ruby 2.0 or an install of ruby 2.1. See bugs #27 #28 and #35

[2015-05-20 16:25] #43 closed

[2015-05-20 16:31] copiousfreetime commented on #43
@briprowe It looks like you can fix it if you reinstall ruby and have it ignore the binary. See https://github.com/rvm/rvm/issues/3360. See the final comments there form @mpapis

[2015-05-20 16:32] copiousfreetime commented on #35
For posterity, Please see https://github.com/rvm/rvm/issues/3360 for the solution.

[2015-05-20 16:32] copiousfreetime commented on #28
For posterity, please see https://github.com/rvm/rvm/issues/3360

[2015-05-20 16:33] copiousfreetime commented on #27
for posterity, please see https://github.com/rvm/rvm/issues/3360

[2015-05-21 03:57] joannahatter commented on #32
I've run into the same issue, so my apologizes if this is redundant but nothing I've tried has worked. I'm running on Windows 8.
GemFile Contents
[code]

My original error when running: ` jekyll serve`
[code]

I too got an error when running:
[code]

Which was
[code]
My Gem Environment:
[code]
And Gems:
[code]

[2015-05-21 09:08] copiousfreetime commented on #32
@joannahatter this is because I have not released a fatbinary gem for ruby 2.2 on windows. I'll be attempting to do that here before too long. See Issue #40.

[2015-05-22 01:39] joannahatter commented on #32
@copiousfreetime  Thanks for getting back to me. I'll keep an eye out for your next release.

[2015-06-12 06:21] KJTsanaktsidis opened #44 "Add the unit times are returned in to the README"
Hey, thanks for the great library but I just spent 15 minutes combing through the source trying to work out what unit the returned times are in. I worked out that they're in seconds now, but it'd be great if this was in the README.

[2015-06-18 03:40] copiousfreetime commented on #44
good suggestion, feel free to open a submit a pull request if you like. I'll get around to it in the next week or so if not.

[2015-06-30 10:52] javadudealok commented on #27
sudo gem install hitimes
Building native extensions.  This could take a while...
ERROR:  Error installing hitimes:
	ERROR: Failed to build gem native extension.

    /usr/bin/ruby2.2 -r ./siteconf20150630-26932-1uskrfd.rb extconf.rb
mkmf.rb can't find header files for ruby at /usr/lib/ruby/include/ruby.h

extconf failed, exit code 1

Gem files will remain installed in /var/lib/gems/2.2.0/gems/hiti

[2015-06-30 10:58] copiousfreetime commented on #27
@javadudealok I'll need some more information, and this does not appear to be a bundler oriented problem, could you please open this up in a new ticket and also paste in the output of:

1. `sudo gem env`
2. `/usr/bin/ruby2.2  -r rbconfig -r pp  -e 'pp RbConfig::CONFIG'`
3. `gem env`

I have a suspicion that the gem command you executed does not go with the ruby version you think it should.

[2015-06-30 11:02] javadudealok opened #45 "error installing hitimes in ubuntu"
Building native extensions.  This could take a while...
ERROR:  Error installing hitimes:
	ERROR: Failed to build gem native extension.

    /usr/bin/ruby2.2 -r ./siteconf20150630-27050-8zupgc.rb extconf.rb
mkmf.rb can't find header files for ruby at /usr/lib/ruby/include/ruby.h

extconf failed, exit code 1

Gem files will remain installed in /var/lib/gems/2.2.0/gems/hitimes-1.2.2 for inspection.

[2015-06-30 11:04] javadudealok commented on #45
alok@alok-ThinkPad-T450:~$ /usr/bin/ruby2.2 -r rbconfig -r pp -e 'pp RbConfig::CONFIG'
{"DESTDIR"=>"",
 "MAJOR"=>"2",
 "MINOR"=>"2",
 "TEENY"=>"0",
 "PATCHLEVEL"=>"95",
 "INSTALL"=>"/usr/bin/install -c",
 "EXEEXT"=>"",
 "prefix"=>"/usr",
 "ruby_install_name"=>"ruby2.2",
 "RUBY_INSTALL_NAME"=>"ruby2.2",
 "RUBY_SO_NAME"=>"ruby-2.2",
 "exec"=>"exec",
 "ruby_pc"=>"ruby-2.2.pc",
 "PACKAGE"=>"ruby",
 "B

[2015-06-30 11:18] javadudealok commented on #27
The gem version is 2.4.5 and ruby 2.2.2

[2015-06-30 11:26] copiousfreetime commented on #27
@javadudealok conversation moved to #45

[2015-06-30 11:28] copiousfreetime commented on #45
@javadudealok no, rubygems has a separate version that ruby.

How did you install ruby2.2? If it was via `apt-get install ruby2.2` then you will also want to install `apt-get install ruby2.2-dev build-essential`

[2015-06-30 12:11] javadudealok commented on #45
Thanks a TON ..you saved my day

[2015-06-30 12:11] #45 closed

[2015-06-30 12:24] copiousfreetime commented on #45
@javadudealok glad to help. As a general rule, if you are going to be installing ruby gems you're going to need `ruby*-dev` and `build-essential` as the installation of ruby gems with native extensions on Debian / Ubuntu requires the C language headers for ruby (`ruby*-dev`), and also a compiler/linker/make system (`build-essential`).

[2015-07-07 13:24] NJ-Dev commented on #40
Any update on this issue. I am still getting the same error with ruby 2.2.0 on windows 7.

ruby/2.2.0/rubygems/core_ext/kernel_require.rb:54:in `require': cannot load such file -- hitimes/hitimes (LoadError)

[2015-07-07 13:30] NJ-Dev commented on #40
I was able to make it work by following the instruction on below link as suggested above. http://stackoverflow.com/questions/28985481/hitimes-require-error-when-running-jekyll-serve-on-windows-8-1

gem uni hitimes
gem ins hitimes -v 1.2.1 --platform ruby

[2015-08-02 16:49] AnanthaRajuC commented on #32
I encountered the same problem in windows 7. As specified in issue #40 according to
http://stackoverflow.com/questions/28985481/hitimes-require-error-when-running-jekyll-serve-on-windows-8-1/28998745#28998745
the solution is to uninstall and reinstall it

gem uni hitimes

**Remove ALL versions**

gem ins hitimes -v 1.2.1 --platform ruby

[2015-08-03 15:16] aharpervc commented on #40
:+1: still broken

[2015-08-05 14:20] stefan-kolb commented on #40
:+1:

[2015-09-11 12:56] alexkates commented on #32
@AnanthaRajuC Thanks, the uni/ins hitimes worked for me.

[2015-09-13 07:38] #44 closed

[2015-09-13 07:39] #42 closed

[2015-09-13 08:25] copiousfreetime commented on #40
@ccoenen @LukeMcGurdy @stefan-kolb @aharpervc @NJ-Dev @AntiMoron @andrelugomes  You will all be happy to know that I have released version 1.2.3 and this issue with jekyll should no longer exist. I did a test install of jekyll on a windows 8 vm and it used the new fatbinary gem (version 1.2.3) and all was well.

Please let me know if you have any other issues down the road. I'll do my best to addr

[2015-09-13 08:25] #40 closed

[2015-09-13 08:34] copiousfreetime commented on #32
Just so people who find this issue via Google, This is all fixed in version 1.2.3. Please make sure you are using hitimes version 1.2.3 or greater.

[2015-09-13 10:34] stefan-kolb commented on #40
Thanks :+1:

[2015-09-13 21:18] andrelugomes commented on #40
nice :)

[2015-09-14 18:46] drcraig opened #46 "hitimes 1.2.3 gem fails to install as a Vagrant plugin"
I don't know if this should be a bug for your project or the vagrant-triggers Vagrant plugin, but I'll start here. Hitimes is apparently a dependency of the vagrant-triggers plugin, and version 1.2.3 now fails to install, either when installing vagrant-triggers, or when installed standalone as a vagrant plugin.
[code]

The error output is not terribly helpful, other than saying
[code]

All of this

[2015-09-14 21:13] lcfg commented on #32
Just a tip to people who might've encountered this error and are now reading this: the reinstalling of hitimes (uni/ins above) might not resolve your problem. Just run `bundle update` (notice the `Installing hitimes 1.2.3 (was 1.2.2)`) and then try running jekyll again. This resolved the issue for me.

Thanks @copiousfreetime!

[2015-09-15 02:44] copiousfreetime commented on #46
@drcraig My initial thought is that it is because you are using ruby1.8 which was end of life'd in June of 2013. Hitimes 1.2.3 requires at least ruby 1.9.3, and 1.9.3 was end of life'd in Feb 2015.

The other option could be vagrant 1.7.2. The current version is 1.7.4.

The weird part is, I'm looking at vagrant-triggers and there is no dependency on hitimes. Can you do a `vagrant plugin install --

[2015-09-15 03:06] copiousfreetime commented on #46
@drcraig I just built out a fresh precise64 box, build-essential and installed vagrant 1.7.2 from .deb.
When I did `vagrant plugin install --verbose vagrant-triggers` it installed hitimes 1.2.2.

I wiped vagrant and then installed vagrant 1.7.4 from .deb and did `vagrant plugin install --verbose vagrant-triggers` and hitimes was not installed.

Unfortunately I'm unable to replicate what you have h

[2015-09-17 10:42] masterkain opened #48 "cannot compile on ubuntu 14.04 / ruby 2.2.3"
on my osx local machine everything's working fine, I recently upgraded to ruby 2.2.3 and reinstalled the gem with no trouble.

however on my production server this gem cannot be installed, builds on 2.2.1 but it does not build on 2.2.3:

[code]

[2015-09-17 17:15] copiousfreetime commented on #48
That is pretty odd, can you double check a couple of things first? The error message `You have to install development tools first` may indicate that not all the build chain is setup. Easiest way to get that is with `apt-get install build-essential`.  Since you say it installs fine on ruby 2.2.1 I'm assuming that you already have build-essential installed. Just covering all the bases.

If you alrea

[2015-09-23 14:30] oree commented on #48
Same error on Ubuntu 14.04 / Ruby 2.1.7!

Then again, works on Ubuntu 12.04 / Ruby 2.1.7...

[2015-09-23 14:58] oree commented on #48
The error in mkmf.log:

<pre>
"gcc -o conftest -I/home/deploy/.rvm/rubies/ruby-2.1.7/include/ruby-2.1.0/x86_64-linux -I/home/deploy/.rvm/rubies/ruby-2.1.7/include/ruby-2.1.0/ruby/backward -I/home/deploy/.rvm/rubies/ruby-2.1.7
/include/ruby-2.1.0 -I.     -O3 -fno-fast-math -ggdb3 -Wall -Wextra -Wno-unused-parameter -Wno-parentheses -Wno-long-long -Wno-missing-field-initializers -Wunused-variable -W

[2015-09-23 15:16] oree commented on #48
apt-get install libgmp-dev

fixed the problem

[2015-09-23 17:08] dnesteryuk commented on #48
@oree thank you for sharing the solution!!!

[2015-09-24 20:10] copiousfreetime commented on #48
@oree thanks, good to know, I'll see if I can add some additional output during build to provide a more useful output.

[2015-10-02 13:27] oswaldoferreira opened #49 "WARN: Unresolved specs during Gem::Specification.reset"
Warning while running specs using rspec 3.3.3 (hitimes 1.2.3).

- `ruby 2.2.1p85 (2015-02-26 revision 49769) [x86_64-darwin14]`

[code]

Obs: Hitimes is a sidekiq 3.5.0 dependency on my project.

[2015-10-02 16:23] copiousfreetime commented on #49
Interesting, considering hitimes doesn't use rspec :smile:. The specs in hitimes are the spec format of minitest.

According to http://stackoverflow.com/questions/17936340/unresolved-specs-during-gemspecification-reset it may be that you have more than one verision of hitimes installed and that is what is causing this to show up.

Maybe that will do it?

[2015-10-02 18:38] oswaldoferreira commented on #49
A simple cleanup stopped it :+1:. Closing here.

[2015-10-02 18:38] #49 closed

[2015-10-04 14:30] IvanTashkinov commented on #48
@oree, :+1:

[2015-10-05 04:22] dcorlieu commented on #48
Thank you, oree! Been searching for hours!

[2015-10-09 19:57] yuessir commented on #40
@copiousfreetime hi ,I reinstall version 1.2.3 ,still broken

[2015-10-09 20:01] ccoenen commented on #40
@yuessir could you please be more specific? An error message or a stacktrace perhaps would help tremendously, but steps for how you reached an error will also usually be fine. As far as i can tell, hitimes 1.2.3 works on ruby 2.2.2 32bit with the simple test from #39.

[2015-10-09 20:08] ccoenen commented on #40
thanks for providing steps! the error seems to be in `jekyll-redirect-from`, not in hitimes.

[2015-10-09 20:14] yuessir commented on #40
@ccoenen Hi
my step
1.install Ruby x64 on Win8.1
2.install Ruby  DevKit on  Win8.1
3.Install the Jekyll Gem
4.Use Jekyll sample from "huayinthon.github.io"
5.Win Cmd to Folder and run jekyll server

[2015-10-09 20:16] ccoenen commented on #40
That looks alright, but in the last line of your previous post, it says

And that's why hitimes is (probably) not at fault. jekyll-redirect-from is a project of its own, and it has a bugtracker right here: https://github.com/jekyll/jekyll-redirect-from/issues

[2015-10-09 20:17] ccoenen commented on #40
Ah, i may be able to help: try `bundle install` before running the server. You only need to do this once, not every time before starting the server.

[2015-10-09 20:25] yuessir commented on #40
@ccoenen  Thanks ,I'll try again

[2015-10-11 18:13] copiousfreetime commented on #40
@yuessir I think you need to do `gem install hitimes`. When you add `--platform ruby` that tells rubygems to specifically install the source code version which is not what you want.

In generally when installing ruby gems do not use the `--platform` flag unless you know for sure you want to use it. Rubygems does a pretty good job of installing the appropriate gem for your platform.

[2015-10-11 18:15] copiousfreetime commented on #39
For folks that find this issue through the Internet, in general please install hitimes `gem install hitimes` When you install using the `--platform ruby` flag, you will install the source code version of the gem, which is not what you want when installing hitimes on windows.

[2015-10-11 18:18] copiousfreetime commented on #46
@drcraig I'm going to close this issue for now as I think the proper solution is update vagrant to 1.7.4. Please let me know if there is some other approach you have taken. Thanks for your report.

[2015-10-11 18:18] #46 closed

[2015-10-13 08:33] mochnatiy opened #51 "Cannot compile version 1.2.3 on El Capitan"
Hello!
I have had a several attempts to install hitimes (1.2.3) on El Capitan and all of these were failed with the same error:

[code]
I have:
- ruby 2.2.1 from rbenv:
[code]
- gmp 6.0.0a from brew
- gcc:

[code]
May be I do something wrong, but I will ask here.
Thank's.

[2015-10-13 15:14] copiousfreetime commented on #48
The `-lgmp` requirement is not part of hitimes itself, it is part of ruby. You can see this by executing `ruby -rrbconfig -e 'puts RbConfig::CONFIG.find_all { |k,v| puts "#{k} : #{v}" if v =~ /gmp/ }'`.

What I'm guessing is that the build of ruby that folks are using is probably a binary install that was built against libgmp.

When a ruby extension is installed the compilation flags used on the e

[2015-10-13 15:14] #48 closed

[2015-10-13 21:26] copiousfreetime commented on #51
@mochnatiy How did you install ruby? I think if ruby was installed from source you should be fine. Hitimes itself has no dependency on libgmp, the `-lgmp` flag comes from how ruby was built itself. You should see it if you do `ruby -rrbconfig -e 'puts RbConfig::CONFIG.find_all { |k,v| puts "#{k} : #{v}" if v =~ /gmp/ }'`

This is the same error that folks in #48 were getting.

[2015-10-14 14:17] mochnatiy commented on #51
Thank's!
I installed ruby from rbenv.
The interesting point is my next steps:

1) Update ruby-build from homebrew
2) Uninstall ruby 2.2.1 from rbenv
3) Install ruby 2.2.1 from rbenv

And all works ok, I'm using hitimes now in my project. May be it was issue from Yosemite -> El Capitan upgrade process. Don't know.

[2015-10-14 14:17] #51 closed

[2015-10-14 14:47] copiousfreetime commented on #51
@mochnatiy I would agree with the Yosemite -> El Capitan process. Basically anything that you compiled on your own machine on Yosemite will need to be rebuilt for El Capitan. So, if you haven't I would reinstall everything from homebrew and rebuild all rubies in rbenv.

[2015-10-17 06:47] sinhtruong commented on #48
@oree thanks very much (y)

[2015-10-21 02:02] pasupulaphani commented on #45
Still happens on Ubuntu 14.04 - ruby 2.2.3
[code]

[2015-10-27 13:16] alexandermayr opened #52 "Cannot install on Linux with glibc 2.19"
I'm not sure but that might be a compatibility issue since glibc 2.17 moved clock_* functions into the main lib. see https://sourceware.org/ml/libc-announce/2012/msg00001.html

Building native extensions.  This could take a while...
ERROR:  Error installing hitimes:
	ERROR: Failed to build gem native extension.

    /home/ef/.rvm/rubies/ruby-2.2.3/bin/ruby -r ./siteconf20151027-2357-17citwz.rb ext

[2015-10-27 16:17] copiousfreetime commented on #52
Thanks for the report. Can you post the contents of ` /home/ef/.rvm/gems/ruby-2.2.3/extensions/x86_64-linux/2.2.0/hitimes-1.2.3/gem_make.out` please?

[2015-10-27 16:21] alexandermayr commented on #52
hi jeremy,

it's just as in stdout:

/home/ef/.rvm/rubies/ruby-2.2.3/bin/ruby -r ./siteconf20151027-2357-17citwz.rb extconf.rb
checking for clock_gettime() in -lrt... *** extconf.rb failed ***
Could not create Makefile due to some reason, probably lack of necessary
libraries and/or headers.  Check the mkmf.log file for more details.  You may
need configuration options.

Provided configuration opti

[2015-10-27 16:51] copiousfreetime commented on #52
The error message `The compiler failed to generate an executable file. You have to install development tools` is the result of a pre-test to make sure that the compiler and linker all work/exist before testing the existence of the `-lrt`.

If you are on a debian/ubuntu box you'll want to make sure you do `sudo apt-get install build-essential libgmp-devel`, which will be necessary for any ruby with

[2015-10-28 07:45] alexandermayr commented on #52
I'm not sure how libgmp-dev was connected with the libc issue but it's fixed it. thanks for your help!

[2015-10-28 07:45] #52 closed

[2015-10-29 13:01] kosto1992 opened #53 "gem install hitimes not working"
Hello,
I have problem with hitimes in Widnows 8.1 using gem.

Error:
C:\Ruby22-x64\DevKit>gem install hitimes -v '1.2.2'
Temporarily enhancing PATH to include DevKit...
Building native extensions.  This could take a while...
ERROR:  Error installing hitimes:
        ERROR: Failed to build gem native extension.

    C:/Ruby22-x64/bin/ruby.exe -r ./siteconf20151029-4056-13cg0r2.rb extconf.rb
creatin

[2015-10-29 13:33] copiousfreetime commented on #53
Hi @kosto1992 please use the most recent version of hitimes. just do `gem install hitimes`

[2015-10-29 14:07] kosto1992 commented on #53
Thanks for fast reply, but it is not working either. I still get same error.

C:\Ruby22-x64\DevKit>gem install hitimes
Temporarily enhancing PATH to include DevKit...
Building native extensions.  This could take a while...
ERROR:  Error installing hitimes:
        ERROR: Failed to build gem native extension.

    C:/Ruby22-x64/bin/ruby.exe -r ./siteconf20151029-9148-l1k5v3.rb extconf.rb
creating M

[2015-11-08 14:22] shamiao opened #54 "Failed to install on Fedora 23 (at `checking for clock_gettime() in -lrt`)"
- Linux localhost.localdomain 4.2.5-300.fc23.x86_64 #1 SMP Tue Oct 27 04:29:56 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux
 - ruby 2.2.3p173 (2015-08-18 revision 51636) [x86_64-linux]
 - gem 2.4.8

`gcc-g++`, `ruby-devel` and `glibc-devel` installed.

`sudo gem install hitimes --verbose 2>&1` failed with following output:

[code]

Content of log file `/usr/local/lib64/gems/ruby/hitimes-1.2.3/mkmf.log`

[2015-11-08 14:24] shamiao commented on #54
`dnf install rpm-build` solved this issue.

Never mind, case closed.

[2015-11-08 14:24] #54 closed

[2015-11-23 20:39] neurogenesis commented on #51
@mochnatiy , you probably already figured this out... but if you've upgraded to El Capitan, you'll have to ensure you have all the xcode tools installed and the licenses accepted:

```xcode-select --install```

[2015-12-16 15:51] MarcoWeiss commented on #54
Thank you shamiao for sharing that, it solved my problem too

[2015-12-28 18:43] drcraig commented on #46
@copiousfreetime thanks for taking the time to investigate. We were eventually able to upgrade to 1.7.4 (and now 1.8.1, which is even better), and it fixed the issue just as you said.

[2015-12-29 17:28] copiousfreetime commented on #46
@drcraig Good to know, thanks for the feedback.

[2016-01-03 19:16] pmontrasio commented on #45
I just run into this on Ubuntu 14.04.3. The fix was

    sudo apt-get install libgmp-dev

[2016-01-04 19:12] copiousfreetime commented on #45
Also see #48. The `libgmp-dev` dependency has to do with the binary ruby that rvm installs.

[2016-01-21 10:37] dhanabalt commented on #48
@oree  Thanks... saved my time

[2016-02-21 19:41] nrowegt commented on #48
@oree thanks man, that did the trick.

[2016-02-24 10:00] qibo-cn commented on #27
@copiousfreetime
my gem is 1.8.23, ruby is  1.9.3p484
build-essential has been installed.
but I still have the same problem, should i upgrade gem and ruby?

[2016-02-24 16:34] copiousfreetime commented on #27
@qibo-cn if you have installed ruby via rvm then you will alwso need `apt-get install libgmp-dev` as rvm installs a binary ruby that is compiled against `libgmp`.

For your best bet to cover all situations that I know of for rvm based ruby installs: `apt-get install  libgmp-dev build-essential`

If you are installing ruby via `apt-get` then you also need `apt-get install ruby*-dev`

I would encour

[2016-02-25 12:03] binary-data commented on #54
Thanks! Worked for me too

[2016-04-10 20:25] wpiekutowski opened #55 "Native extension load issue with Ruby 2.1.10"
This gem requires a native extension to function. In case of Ruby 2.1.x, this extension is supposed to be stored in `path_to_gems/hitimes-1.2.3/lib/hitimes/2.1/hitimes.bundle`. This works correctly on Ruby 2.1.0-2.1.9. However, in case of Ruby 2.1.10, extension is stored in `path_to_gems/hitimes-1.2.3/lib/hitimes/2.1.10/hitimes.bundle`. A dot and Ruby patch version aren't stripped properly. This i

[2016-04-11 18:06] copiousfreetime commented on #53
@kosto1992 My apologies, apparently I never saw this and followed up. You shouldn't need devkit for hitimes, I build a fat binary that will work for windows, so you should just be able to install the version for windows and the gem command should download and install that one.

if you are still having this issue, reopen this ticket and post the output of `gem env`.

Again my apologies.

[2016-04-11 18:06] #53 closed

[2016-04-15 15:06] hodwik commented on #54
Was having trouble with gem install pg on Fedora.

This answer worked for me also.

[2016-05-01 22:09] copiousfreetime commented on #16
I'm guessing this isn't going to happen, so closing

[2016-05-01 22:09] #16 closed

[2016-05-01 22:11] copiousfreetime commented on #38
Hey @maddox if this is something you're still interested in then I might dig into it again, otherwise probably not. Feel free to open this back up. Also, the ruby 2.1 `Process::clock_gettime` works on the rasberry pi then hitimes should work also, they both use the same underlying system call. Feel free to reopen.

[2016-05-01 22:11] #38 closed

[2016-05-01 22:29] jc00ke commented on #16
@AllenOtis ?

[2016-05-01 22:55] copiousfreetime commented on #55
@wpiekutowski merged your code in, doing a release tomorrow

[2016-05-01 22:55] #55 closed

[2016-05-03 04:51] copiousfreetime commented on #55
@wpiekutowski new version pushed

[2016-05-03 06:19] jufyao commented on #27
Hi @copiousfreetime, when install hitimes 1.2.4, got :

mical@ubuntu:~/vertive/reporting$ gem install hitimes -v '1.2.4'
Building native extensions.  This could take a while...
ERROR:  Error installing hitimes:
        ERROR: Failed to build gem native extension.

    /home/mical/.rvm/rubies/jruby-1.7.22/bin/jruby -r ./siteconf20160502-4244-ynjjt4.rb extconf.rb
NotImplementedError: C extension sup

[2016-05-03 13:38] copiousfreetime commented on #27
@jufyao that would be my mistake, I forgot to push the java version of the gem to rubygems last night when I released. That has been fixed and you should be good to go.

[code]

[2016-05-11 12:25] wpiekutowski commented on #55
Thank you.

[2016-05-16 21:20] jnjwatts commented on #54
My exact problem. My exact fix!! Cheers.

[2016-05-30 23:46] zzedgat2012 opened #57 "."

[2016-05-31 16:06] #57 closed

[2016-06-14 10:15] alejandroandreu commented on #54
Thanks for sharing that ip, it worked too!

[2016-06-16 10:36] gallaglaxmi commented on #32
Hello,

I am using Ruby23-x64 in windows-7 for selenium webdriver. I am facing similar kind of issue for selenium.

C:/Ruby23-x64/lib/ruby/2.3.0/rubygems/core_ext/kernel_require.rb:55:in `require': cannot load such file -- ffi_c (LoadError)
	from C:/Ruby23-x64/lib/ruby/2.3.0/rubygems/core_ext/kernel_require.rb:55:in `require'
	from C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/ffi-1.9.10-x64-mingw32/lib/

[2016-06-16 13:27] copiousfreetime commented on #32
@gallaglaxmi I would suggest you contact the selenium-webdriver folks and see if they can help out with your issue -- http://docs.seleniumhq.org/support/

[2016-06-27 14:07] mnuttall commented on #54
This fixed 'gem install travis' on Fedora for me - thank you.

[2016-08-26 02:32] robertoxyz20 opened #58 "Hello, i'm having troubles running opengl in ruby"
ERROR [
C:\Ruby23>C:\Ruby23\rub.rb
C:/Ruby23/lib/ruby/2.3.0/rubygems/core_ext/kernel_require.rb:55:in `require': cannot load such file -- opengl/opengl (LoadError)
        from C:/Ruby23/lib/ruby/2.3.0/rubygems/core_ext/kernel_require.rb:55:in`require'
        from C:/Ruby23/lib/ruby/gems/2.3.0/gems/opengl-0.9.2-x86-mingw32/lib/opengl.rb:31:in `rescue in <top (required)>'
        from C:/Ruby23/li

[2016-08-30 11:11] CathrineTeng commented on #54
So appreciate it! I have stuck on it !! It worked out!

[2016-09-15 08:59] Startouf opened #59 "Make error on windows"
I a trying to install the gem on my windows 10, I am running into the following error

[code]

I had no troubles installing gems that required native tools before (eg. Nokogiri). I'm trying to install hitimes `1.2.4`

[2016-09-30 19:41] copiousfreetime commented on #59
On windows you should not have to build the gem, I package fat binaries for hitimes, so you should be installing the binary version of the gem, in particular https://rubygems.org/gems/hitimes/versions/1.2.4-x86-mingw32

If you would can you run `gem env` and drop the output here? I see if I can figure out why you didn't install the fat binary version of the gem.

[2016-11-08 03:41] SUPERCILEX commented on #54
OMG thanks so much!!! I'v been trying to get `gem install travis` to work for like 3 hours!!! Thanks!

[2016-11-08 11:47] vans88 commented on #48
@masterkain  Many thanks for your comments, I fixed my error use the same method.

[2017-01-09 13:49] wjlroe commented on #59
Looks like the reporter's Ruby is x64-mingw32 (as is mine) and the fat binary is x86-mingw32. Installing a 32bit ruby resolves this.

[2017-01-13 05:52] luyaotsung commented on #54
thanks , it's also works for me

[2017-02-21 22:22] mkarlovich commented on #48
@oree that also fixed issue running on Windows 10 Ubuntu 16.04 / Ruby 2.3.3.  Thanks!

[2017-04-25 17:52] Stormcore commented on #38
Please, reopen, I have project that is based on Celluloid and it uses hitimes, is there any possibility to fix on raspberry pi?

[2017-05-10 20:35] copiousfreetime commented on #38
Just an update on this, On a raspberry pi running raspbian all that was needed to make sure hitimes installed was `apt-get install build-essential`.

Basically we need the `librt.so` library and associated headers, along with the regular compiler tool chain. On raspbian this is taken care of by the libc6/libc6-dev packages.

[code]

And the install/test

[code]

[2017-05-25 15:30] lamont-granquist opened #60 "fat gem on windows lacks ruby 2.4 support"
[code]

needs a recompile for 2.4 and release.

[2017-05-25 15:31] copiousfreetime commented on #60
@lamont-granquist good catch, thanks for finding it, i'll get that out ASAP.

[2017-05-25 21:11] copiousfreetime commented on #60
Version 1.2.5 pushed, unfortunately ruby 1.8 and ruby 1.9 on windows had to be dropped at this time.

[2017-05-25 21:11] #60 closed

[2017-05-25 21:12] copiousfreetime commented on #58
Unfortunately, this I don't think has anything to do with the hitimes gem. I don't think I can help.

[2017-05-25 21:12] #58 closed

[2017-05-25 21:14] copiousfreetime commented on #59
Closing as there has been no traffic from the original reporter.

[2017-06-06 05:55] danielblest commented on #32
Hi everyone, When i run rails server with mysql it gives me these errors, but without mysql it works fine. please help me!

dani@saeedi:~/Desktop/website/myweb$ rails server
/home/dani/.rbenv/versions/2.4.0/lib/ruby/gems/2.4.0/gems/mysql2-0.4.5/lib/mysql2.rb:31:in `require': libmysqlclient.so.20: cannot open shared object file: No such file or directory - /home/dani/.rbenv/versions/2.4.0/lib/ruby/

[2017-06-06 16:04] copiousfreetime commented on #32
@danielblest I think you have ended up in the the wrong location. [Try googling the actual error message: `require': libmysqlclient.so.20: cannot open shared object file: No such file or directory`](https://www.google.com/search?q=require%27%3A+libmysqlclient.so.20%3A+cannot+open+shared+object+file%3A+No+such+file+or+directory&ie=utf-8&oe=utf-8)

[2017-06-06 16:07] copiousfreetime commented on #32
@danielblest I would be interested to know how you ended up on this issue as the location to ask for help. It seems odd to me that you would end up here for that.

[2017-08-04 10:48] anthraxx opened #61 "wrong hitimes.gemspec version"
The current file contains 1.2.4 while the actual version is 1.2.5. This produces a wrong gem when building from gemspec

[2017-08-04 15:04] copiousfreetime commented on #61
Thanks @anthraxx pushing a 1.2.6 here shortly to resolve.

[2017-08-04 15:18] copiousfreetime commented on #61
Version 1.2.6 released a0f509047e8d0df1e6fa7c75951d067a6be5dc5f

[2017-08-04 15:18] #61 closed

[2017-08-04 15:27] anthraxx commented on #61
Thanks a lot, have a great weekend

[2017-09-14 17:40] predatorian3 commented on #59
Well, this is a bummer. I have a co-worker who's having the same issues. We're trying to install berkshelf which depends on this gem, and getting the same errors as above. We included the devkitvars.bat, and it built the JSON gem and a few others, but not hitimes.

He's running
* Windows 10
* Ruby 2.4.1p111
* DevKit for Ruby 2+ 64bit

[2017-09-14 17:43] copiousfreetime commented on #59
@predatorian3 can you attach the errors you are getting. If you are using DevKit then you should be able to build hitimes from the source gem not the fatbinary gem. I'd like to make sure hitimes works for everyone.

[2017-09-14 17:52] predatorian3 commented on #59
Here is the error. He closed the terminal prior to this, so I don't have the original output with the proof that it built other gems.

[code]

[2017-09-14 18:17] copiousfreetime commented on #59
That is weird, that's not actually an error with hitimes. It has to do with the linker flags that the ruby that is building hitimes has set in the config.

I would really like to see the output from the json build, because it should have this same error. the linking against  `libgmp` error is because of the linker flags that are in part of the rbconfig.

There should be a `gem_make.out` somewhere

[2017-09-14 18:25] predatorian3 commented on #59
[code]

[2017-09-14 18:26] predatorian3 commented on #59
I thought it built correctly, because we didn't get an error building this time with MinGW on WIndows after including the devkitvars.bat

[2017-09-14 18:37] copiousfreetime commented on #59
So there are 2 ways to fix this
* one is to make sure that the ruby you are using is not built against `libgmp`
* or if the ruby is built against `libgmp` then make sure that the headers/shared library of `libgmp` are available so that the `ld` or `collect` command works.

[2017-09-14 18:39] predatorian3 commented on #59
If its https://rubyinstaller.org/ , I'm not sure if its built against libgmp. I'm going to assume it is. Never really built Ruby on Windows before, always used the packaged version or one that came with Cygwin, or MSYS2.

[2017-09-14 19:09] predatorian3 commented on #59
We're working on getting MSYS2 installed and configured to try building Ruby, or using that as our build system.

[2017-09-14 22:57] copiousfreetime commented on #59
@predatorian3 sounds good, let me know what problems you have with hitimes and I'll do what I can to help out.

[2017-09-15 14:42] predatorian3 commented on #59
So, ended up downgrading from RubyInstaller version 2.4.1 for Windows to 2.3.1 and this Gem seemed to have worked as we were able to install the gem. Now we're having to fix the OpenSSL issue that comes with windows as well. Thank you for being super attentative to this issue @copiousfreetime

I'm not sure what the actual issue is for that then.

[2017-09-15 16:05] copiousfreetime commented on #59
Glad to help! I don't know off the top of my head either. I'm going to close this for now, and should you have any issues do let me know.

Happy Programming!

[2017-09-15 16:05] #59 closed

[2018-03-12 21:46] scalp42 opened #65 "Can't install under Alpine"
I'm running into an issue, trying to gem install under [Alpine](https://github.com/gliderlabs/docker-alpine):

[code]

[code]

Any idea?

Thanks in advance!

[2018-03-13 00:33] copiousfreetime commented on #65
@scalp42 `mkmf.rb can't find header files for ruby at /usr/lib/ruby/include/ruby.h` to me means that the development headers for ruby are not installed in your Alpine distribution. I'm assuming the appropriate package name would be something like `ruby-dev`.

If that doesn't do it let me know.

[2018-03-13 16:14] scalp42 commented on #65
@copiousfreetime I believe I had all these installed:

[code]

But I'll try again and confirm for sure.

Thanks again for the feedback!

[2018-03-13 18:11] scalp42 commented on #65
Confirmed was missing some packages, closing 🤐

[2018-03-13 18:11] #65 closed

[2018-03-31 09:33] tyhawk opened #66 "Hitimes gem won't install on current Debian/Ubuntu"
When installing a gem that is dependent on hitimes, it gives me this error:
[code]
I've seen this error on both Ubuntu 16.04 as well as Debian Jessie, both on a Raspberry Pi 2 by the way.

Ruby version:
[code]

[2018-03-31 18:12] copiousfreetime commented on #66
@tyhawk good to know, do reach out if you have any other problems!

[2018-04-11 23:52] NisreenJ commented on #26
Is there a Windows equivalent of this answer?

[2018-04-12 17:59] copiousfreetime commented on #26
@NisreenJ you shouldn't need the ruby development kit to use hitimes on windows, hitimes for ships with a binary blob gem for windows that includes the already compiled code.

If you would paste the output of `gem install -V hitimes` into a new ticket we can investigate and figure out what is happening in your situation.

[2018-04-13 03:25] ioquatix commented on #22
Is the monotonic clock the same as what Hitimes currently uses?

[2018-04-20 01:31] copiousfreetime commented on #22
@ioquatix I think under the covers it might. I need to do some testing on windows to see what ruby on windows does, or if it is even available.

[2018-06-15 06:00] 98-f355-f1 opened #67 "Ruby 2.5??"
Hi
Are there plans to update this gem to Ruby 2.5?
I am trying to use the socketry gems and it seems that this gem is incompatible at the moment.
Thanks

[2018-06-15 15:34] copiousfreetime commented on #67
@98-f355-f1 I was just assuming hitimes was 2.5 compatible. I'll check and push and update if it isn't. Do you have a particular bug that you see?

[2018-06-15 15:58] copiousfreetime commented on #67
@98-f355-f1 I just tested on travis-ci hitimes works out of the box on ruby 2.5. If you have any futher details on the issue you are seeing, please let me know.

[2018-06-15 16:33] #67 closed

[2018-06-15 18:00] copiousfreetime commented on #22
Looks like under the covers ruby attempts to do the same thing I do, but out of the box it doesn't have the same resolution as I can get in hitimes. Ruby uses the same low level calls hitimes does, but uses the data a bit differently. For instance on OSX ruby only gives millisecond resolution while hitimes can give nanosecond - even though under the covers they both use `mach_absolute_time`

[2018-06-15 18:01] #22 closed

[2018-06-15 18:51] copiousfreetime commented on #14
since #22 is not going to be implemented - just not implement this as its not really necessary.  The C version is just fine.

[2018-06-15 18:59] #19 closed

[2018-06-20 19:06] trocolit2 opened #68 "Installation on ubuntu 18.04 with ruby 2.5"
Hi,
I installed a fresh new UBUNTU 18.04, and I am facing errors during hitimes installation.
After ran the `gem install hitimes` command I got the error shown in follow
[code]
For Ubuntu 18.04, the ruby version is 2.5.
Could any one gives me tips to solve this issue?
I can provide more detailed information if needed.

Thanks in advance.

[2018-06-20 19:11] copiousfreetime commented on #68
@trocolit2 looks like you are missing the ruby header files - which is part of `ruby-ev` You probably need to run:

`apt install ruby-dev libffi-dev build-essential`

[2018-06-20 19:34] trocolit2 commented on #68
Hi @copiousfreetime
Thanks for your quickly answer, I really appreciated.
I did not installed these two packages, 'ruby-dev libffi-dev'.
The last Ubuntu LTS, the ruby installation used to include the ruby-dev.
Again thanks for your time!

[2018-06-20 19:34] #68 closed

[2018-06-21 09:04] copiousfreetime commented on #68
@trocolit2 Glad to help. let me know if you have any other issues.

[2018-11-21 15:01] Rajiv-Silva-ConnectedLab opened #71 "y"

[2018-11-21 15:17] copiousfreetime commented on #71
Emily

[2018-11-21 15:17] #71 closed

[2019-02-07 12:25] eregon opened #72 "A backend for Ruby >= 2.1 using Process.clock_gettime"
Since Ruby 2.1, there is `Process.clock_gettime(Process::CLOCK_MONOTONIC, :nanosecond)`.
This uses the appropriate syscall based on the platform.

If `hitimes` would use this on Ruby >= 2.1, I think no C or JRuby extension would be needed, and there would be no need to access macOS frameworks.

The issue was initially reported in https://github.com/oracle/truffleruby/issues/1436, where TruffleRuby

[2019-02-07 23:42] copiousfreetime commented on #72
@eregon I had this as a todo for a long time (see #22) and after digging into it last year it looked ruby natively doesn't support the nanosecond resolution on at least OSX even though it could.

And after reviewing the code I was looking at last summer...It appears I was looking at the wrong bits of the ruby source code. I did a better review just now - and it looks like that ruby's Process. So -

[2019-02-07 23:46] copiousfreetime commented on #14
Re-opening because #72

[2019-02-08 00:24] eregon commented on #72
Sounds good. I searched for `Process.clock_gettime` before filing an issue but found nothing.

FWIW, I found out recent macOS also supports `clock_gettime(2)` directly.

One way to already use `Process.clock_gettime` in hitimes 1.x would be to keep the extensions as fallback for Ruby < 2.1 for a single 1.x release. And then a 2.0 release would then drop Ruby < 2.1 compatibility. The advantage is e

[2019-02-08 21:44] ioquatix commented on #72
Just FYI, I moved to using `Process.clock_gettime` in `async` and `timers` so that is no longer a major dependency (of course old versions still are). It was a point release for `timers`. So I believe most users can update.

So, @copiousfreetime your offer to update the gem is awesome, but if you have other things to spend your time on that are more valuable to you, it's no longer a dependency of

[2019-02-24 01:53] copiousfreetime commented on #14
implemtend as part of #73

[2019-02-24 01:53] #14 closed

[2019-02-24 01:54] copiousfreetime commented on #72
Almost completed extension removaal over in #73

[2019-02-24 18:09] eregon commented on #72
This looks great!

[2019-02-25 02:41] copiousfreetime commented on #72
@eregon well - my pure ruby version also doesn't work on truffleruby 😂  - I've sent a pull request over to truffle ruby - https://github.com/oracle/truffleruby/pull/1594 - not sure if that's the right way to go or not - all feedback welcome.

[2019-02-25 11:26] eregon commented on #72
@copiousfreetime Great :smiley:

I also commented on the PR https://github.com/copiousfreetime/hitimes/pull/73. Did Hitimes provide clock resolution before?

[2019-09-23 13:09] copiousfreetime commented on #72
Version 2.0.0 pushed with no C extension

[2019-09-23 13:09] #72 closed

[2019-09-23 19:20] eregon commented on #72
Thanks a lot!

[2020-04-06 17:35] copiousfreetime opened #76 "Remove use of clock_getres"
Based on https://bugs.ruby-lang.org/issues/16740 and comments in https://github.com/copiousfreetime/hitimes/pull/73#discussion_r399653738 it may be best to not use `clock_getres` to determine which clock to use and use a different method to determine the appropriate clock id.

[2022-04-18 02:11] copiousfreetime commented on #76
Being worked on in #79 should be released in the next day or so.

[2022-04-18 02:11] #76 closed